.addingBook {
  display: flex;
  flex-direction: column;
  margin: 2rem 8rem;
  padding: 2rem;
  gap: 1.5rem;
}

.data {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 2rem;
}

.data input {
  border: 1px solid #e8e8e8;
  background-color: white;
  padding: 0.75rem 1rem;
}
