.heading {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 10rem;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}

nav li {
  list-style: none;
}

.nav-link {
  display: flex;
  gap: 3rem;
  margin: 0;
}

.logo {
  font-size: 2rem;
  color: #0290ff;
}

.user-details {
  padding: 1rem;
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
}

.person {
  color: #0290ff;
  font-size: 20px;
}
